

/*임시로 해본거!!(dress.css는 지금은 건들이면 안될꺼같아성..)*/
/* 웹 폰트 */
@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans);
@import url(https://fonts.googleapis.com/css?family=Jua);
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);


/*옷걸이 회원가입창(login.html) */
article.container { text-align: center; }
h1#registerTitle { font-family: "Do Hyeon"; font-size: 35px; color: #FF9999; }
.form-group {
  font-family: "Jua"; margin: 10px; }
.registerButton font { font-family: "Do Hyeon","a가을소풍M"; font-size: 18pt; }
.registerButton button { padding: 7px 15px; border-radius: 8px; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; background-color: white; border: 2px solid black; }
.registerButton button:hover { background-color: #FF6699; color: white; }
div.form-group input.form-control { font-family: 'Jua'; width: 18%; }
h4#codyFooter { font-family: "Do Hyeon" }

/*옷걸이 로그인창(codylogin.html)*/
img#mhanger { width: 100px; height: 100px; margin-left: auto; margin-right: auto; display: block; }
h1#codyName { font-family: "Do Hyeon"; color: #FF99CC; text-align: center; }
.login { background-color: #FF99CC; }
.nonmember { width: 13px; height: 13px; vertical-align: text-top; }
input.text { font-family: "Do Hyeon"; width: 50%; }
a.link { text-decoration: none; }

/*옷걸이 메인창(main.html)*/

/*옷걸이 글올리기창(post.html)*/
div#post { margin: 10px; padding: 5px; }
div#postPage h3 { font-family: 'Jua','a뉴굴림2'; }
div#postPage h4 { font-family: 'Jua','a뉴굴림2'; }
