<!DOCTYPE HTML>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>comment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">

        <style>
            body {
                font-family: 'Do Hyeon', sans-serif;
            }

        </style>
    </head>

    <body>
        <!-- 메인 페이지-->
        <table border="1" width="1200px" id="reply_area">
            <tr reply_type="all"><!-- 뒤에 댓글 붙이기 쉽게 선언 -->
                <td colspan="4"></td>
            </tr>
            <!-- 댓글이 들어갈 공간 -->
        </table>

        <table style="position: relative; width: 100%;" border="2" bordercolor="#C57087" align="center">

            <tbody>
                <form action="write_ok.jsp" method="post" encType="multiplart/form-data">
                    <tr>
                        <th>댓글 </th>
                        <td>
                        <input type="text" placeholder="댓글을 입력하세요."width="30" name="subject" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                        <input type="button" value="등록" onclick="sendData()" />
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>

    </body>

</html>
