<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>코디플러스</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://mblogthumb-phinf.pstatic.net/20150913_165/koowq_1442154212671cvGl4_JPEG/%BF%CA%B0%C9%C0%CC_%BE%C6%C0%CC%C4%DC-01.png?type=w2" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <script>
    function fetchPage(name) {
                fetch(name).then(function(response) {
                    response.text().then(function(text) {
                        if(document.querySelector('section').innerHTML.length > 0)
                            document.querySelector('section').innerHTML = "";
                        else
                            document.querySelector('section').innerHTML = text;
                    })
                });
            }
            function llclick() { //좋아요 클릭시 이벤트 함수
              var classname = $(event.target).attr('class');
              var classname1 = $(event.target).next().attr('class');

              if($(event.target).attr('src')==("image/like.png")) {
                if($(event.target).next().next().attr('src')!='image/dislike_click.png') {
                  //싫어요를 안눌렀을 경우
                  $(event.target).attr("src", 'image/like_click.png');

                  if($(event.target).next().is("."+classname1)==true) {
                    cnt = parseInt($(event.target).next().html());
                    cnt += 1;
                    $(event.target).next().html(cnt);
                  }
                }
              }
              else if($(event.target).attr('src')==("image/like_click.png")){
                $(event.target).attr("src", 'image/like.png');
                if($(event.target).next().is("."+classname1)==true) {
                  cnt = parseInt($(event.target).next().html());
                  cnt -= 1;
                  $(event.target).next().html(cnt);
                }
              }
           }

            function dlclick() { //싫어요 클릭시 이벤트 함수
              var classname2 = $(event.target).next().attr('class');
              if($(event.target).attr('src')==("image/dislike.png")) {
                if($(event.target).prev().prev().attr('src')!='image/like_click.png') {
                  //좋아요를 안눌렀을 경우
                $(event.target).attr("src", 'image/dislike_click.png');
                if($(event.target).next().is("."+classname2)==true) {
                  cnt = parseInt($(event.target).next().html());
                  cnt += 1;
                  $(event.target).next().html(cnt);
                }
              }
              }
              else if($(event.target).attr('src')==("image/dislike_click.png")){
                $(event.target).attr("src", 'image/dislike.png');
                if($(event.target).next().is("."+classname2)==true) {
                  cnt = parseInt($(event.target).next().html());
                  cnt -= 1;
                  $(event.target).next().html(cnt);
                }
              }
           }
        </script>

  <style>
    body {
                font-family: 'Do Hyeon', sans-serif;
            }
             #icon input {
                align: center;
                width: 25px;
                height: 25px;
                margin: 10px;
            }

            section {
                position: relative;
            }

            section td input, section td textarea {
                position: relative;
                resize: none;
                width: 100%;
            }


            label {
                text-align: center;
            }

            label img {
                width: 50%;
            }
        </style>

</head>

<body>
  <div data-role="page" id="page1">
    <div data-role="header" data-position="fixed" style="background-color:#C57087">
      <h1 style="color:white">user1</h1>
      <a href="main.html" rel="external" data-icon="arrow-l" data-iconpos="notext" style="background-color:#C57087"></a>
    </div>
    <div data-role="content">

      <div class="card" style="width: 18rem;margin:0 auto">
        <img class="card-img-top" src="image/post/postImg1.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">title</h5>
          <p class="card-text">
            contents
          </p>
          <p class="card-text" style="text-align:right">
            1h ago
          </p>
          <div class="card-body" id="icon">
            <input type="image" id="liketo" src="image/like.png" data-role=none style="width:25px; height:25px;margin:10px" onclick="llclick();">
            <span id="like">0</span>
            <input type="image" id="disliketo" src="image/dislike.png" data-role=none style="width:25px; height:25px;margin:10px" onclick="dlclick();">
            <span id="dislike">0</span>
            <input type="image" src="image/chat.png" data-role=none style="width:25px; height:325x;margin:10px" disabled>
            <span>0</span>
          </div>
          <section>

          </section>
        </div>

      </div>

    </div>

    <div data-role="footer" data-position="fixed" style="background-color:#C57087">
      <div data-role="navbar">
        <ul>
          <li>
            <a href="/" rel="external" data-icon="home" style="background-color:#C57087"></a>
          </li>
          <li>
            <a href="/search" rel="external" data-icon="search" style="background-color:#C57087"></a>
          </li>
          <li>
            <a href="/post" rel="external" data-icon="edit" style="background-color:#C57087"></a>
          </li>
          <li>
            <a href="/like" rel="external" data-icon="heart" style="background-color:#C57087"></a>
          </li>
          <li>
            <a href="/myprofile" rel="external" data-icon="user" style="background-color:#C57087"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>

</html>
