<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>User name</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">

	<!-- fotorama CDN 설정 추가 -->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script>

	<style>
		body {
		font-family: 'Do Hyeon', sans-serif;
	}

	</style>
</head>

<body>
	<!-- 메인 페이지-->
	<div data-role="page" id="main">
		<div data-role="header" data-position="fixed" style="background-color:#C57087">
			<h3>코디플러스</h3>
		</div>
		<div data-role="content">
			<div class="fotorama" data-arrows="true" data-width="100%" data-ratio="965/643" data-allowfullscreen="true" data-nav="thumbs">
				<a href="image/member1.jpeg"></a>
				<a href="image/member2.jpeg"></a>
				<a href="image/member3.jpeg"></a>
			</div>
			<table width="300" border="2" bordercolor="#C57087" align="center">
				<thead>
					<caption> 댓글달기 </caption>
				</thead>
				<tbody>
					<form action="write_ok.jsp" method="post" encType="multiplart/form-data">
						<tr>
							<th>제목: </th>
							<td><input type="text" placeholder="제목을 입력하세요. " name="subject" /></td>
						</tr>
						<tr>
							<th>내용: </th>
							<td><textarea cols="10" placeholder="내용을 입력하세요. " name="content"></textarea></td>
						</tr>
						<tr>
							<th>첨부파일: </th>
							<td>
								<div class="filebox">
									<p id="status"></p>
									<label for="i_file"><img src="image/camera.png"></label>
									<input type="file" name="img" id="i_file" my="myPicture" accept=".gif, .jpg, .png, .jpeg, .bmp" multiple />
								</div>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="button" value="등록" onclick="sendData()" />
								<input type="button" value="reset" />
							</td>
						</tr>
					</form>
				</tbody>
			</table>
		</div>
		<!-- content 끝-->
		<div data-role="footer" data-position="fixed" style="background-color:#C57087">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="main.html" rel="external" data-icon="home" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="search.html" rel="external" data-icon="search" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="post.html" rel="external" data-icon="edit" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="like.html" rel="external" data-icon="heart" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="myprofile.html" rel="external" data-icon="user" style="background-color:#C57087"></a>
					</li>
				</ul>
			</div>
		</div>
	</div><!-- page 끝-->

	<script id="dsq-count-scr" src="//codyplus-2.disqus.com/count.js" async></script>
</body>

</html>
