<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />

	<title>옷걸이 코디를부탁해</title>

	<link rel="shortcut icon" type="image/x-icon" href="https://mblogthumb-phinf.pstatic.net/20150913_165/koowq_1442154212671cvGl4_JPEG/%BF%CA%B0%C9%C0%CC_%BE%C6%C0%CC%C4%DC-01.png?type=w2" />
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
	<link rel="stylesheet" href="css/myprofile.css">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<style>
		h3 {
			font-family: 'a가로수';
			color: #FF99CC;
		}

		h4 {
			font-family: 'a가로수';
			color: purple;
		}
	</style>



</head>

<body>
	<div data-role="page" id="page1" align="center">
		<div data-role="header" id="header" style="background-color:#C57087">
			<h1 style="color:white">코디플러스</h1>
			<span class="avatar"><img src="image/avatar.jpg" alt="" /></span>
			<h1><a href="login.html" rel="external" data-role="button">로그인 하기</a></h1>
			<h1 class="case-info-contact">
				서비스 문의하기<br>
				labco10@naver.com<br>
				010-4853-9432
			</h1>
		</div>
		<div data-role="content" id="content">
			<section class="thumbnails">
				<div data-role="listview">
					<a href="image/fulls/01.jpg">
						<img src="image/thumbs/01.jpg" width="105px" height="105px" ; alt="" />
					</a>
					<a href="image/fulls/02.jpg">
						<img src="image/thumbs/02.jpg" width="105px" height="105px" ; alt="" />
					</a>
					<a href="image/fulls/03.jpg">
						<img src="image/thumbs/03.jpg" width="105px" height="105px" ; alt="" />
					</a>
					<a href="image/fulls/04.jpg">
						<img src="image/thumbs/04.jpg" width="105px" height="105px" ; alt="" />
					</a>
					<a href="image/fulls/05.jpg">
						<img src="image/thumbs/05.jpg" width="105px" height="105px" ; alt="" />
					</a>
					<a href="image/fulls/06.jpg">
						<img src="image/thumbs/06.jpg" width="105px" height="105px" ; alt="" />
					</a>
				</div>

			</section>

		</div>

		<div data-role="footer" data-position="fixed" style="background-color:#C57087">
			<div data-role="navbar">
				<ul>
					<li>
						<a href="main.html" rel="external" data-icon="home" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="search.html" rel="external" data-icon="search" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="post.html" rel="external" data-icon="edit" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="like.html" rel="external" data-icon="heart" style="background-color:#C57087"></a>
					</li>
					<li>
						<a href="myprofile.html" rel="external" data-icon="user" style="background-color:#C57087"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

</body>

</html>
