<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>코디플러스</title>
		<!--상단 브라우저이미지 넣음!!(이미지는 후에 바꿔도 됨!!)-->
		<link rel="shortcut icon" type="image/x-icon" href="https://mblogthumb-phinf.pstatic.net/20150913_165/koowq_1442154212671cvGl4_JPEG/%BF%CA%B0%C9%C0%CC_%BE%C6%C0%CC%C4%DC-01.png?type=w2" />

		<!--제이쿼리 모바일 & 제이쿼리 라이브러리 파일-->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<link rel="stylesheet" href="css/cody.css"/>
		<script>
			$(document).ready(function() {
				if(parseInt($("#codyType option:selected").val()) == 1) {
						$('div.plus').hide();
						$('div.xy').hide();
				}

				// 	$('.upload').click(function() {
				// 		// var form = $('#i_file')[0];
				// 		// var formData = new FormData(form);

				// 		$.ajax({
				// 			url: '/imgupload',
				// 			dataType: json,
				// 			processData: false,
				// 			contentType: false,
				// 			type: 'POST',
				// 			success: function (data) {
				// 				$("#imgurl").attr('value', data.url);
				// 			},
				// 			error: function (err) {
				//     			console.log(err);
				// }
				// 		});
				// 	});

				$('#fileBtn').click(function() {

				});

				$('#codyType').click(function() {
					if(parseInt($("#codyType option:selected").val()) == 2 || parseInt($("#codyType option:selected").val()) == 3) {
					    $('div.plus').show();
						$('div.xy').show();
					}
					else {
						$('div.plus').hide();
						$('div.xy').hide();
					}
				});

				$('#i_file').change(function(event) {
					var tmppath = URL.createObjectURL(event.target.files[0]);
					$("img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));
					//$("#showimg").fadeIn("fast").attr('src', $('#i_file').src);
					//$("#disp_tmp_path").html($('#i_file').src);
					//$("#shortpath").html(location.href);
					$("#disp_tmp_path").html(tmppath);
				});

				var count = 0;
				$('#showimg').click(function() {
					var x = event.offsetX;
					var y = event.offsetY;
					if (count % 2 == 0) {
						//document.getElementById("result1").innerHTML = x;
						//document.getElementById("result2").innerHTML = y;
						document.getElementById("result1").value = x;
						document.getElementById("result2").value = y;
						$('#result1').attr('value', x);
						$('#result2').attr('value', y);
						count += 1;

					} else if (count % 2 == 1) {
						//document.getElementById("result3").innerHTML = x;
						//document.getElementById("result4").innerHTML = y;
						document.getElementById("result3").value = x;
						document.getElementById("result4").value = y;
						$('#result3').attr('value', x);
						$('#result4').attr('value', y);
						count += 1;
					}
				});

				$('#submit').click(function() {
					var error = "";
					var title = $("#title").val();
					var content = $("#postarea").val();
					var date = new Date();
					var typeId = parseInt($("#codyType option:selected").val());
					var top = $('#top').val();
					var bottom = $('#bottom').val();
					var topurl = $("#urltop").val();
					var bottomurl = $("#urlbottom").val();
					var imgpath = $("showing").attr("src");
					var topx = parseInt($("#result1").val());
					var topy = parseInt($("#result2").val());
					var bottomx = parseInt($("#result3").val());
					var bottomy = parseInt($("#result4").val());

					console.log($("#result1").val());

					if ((title.trim().length == 0) || (title == null)) {
						alert('제목을 입력하세요.');
						$("#title").focus();
						// 커서를 넘기는 즉, 포커스를 다음 요소로 넘김.
						return false;
					}
					else if ((content.trim().length == 0) || (content == null)) {
						alert('내용을 입력하세요.');
						$("#postarea").focus();
						return false;
					}
					else if ($.trim($("#showimg").attr("src")) == '') {
						alert('이미지을 첨부하세요.');
						$("#showimg").focus();
						return false;
					}
					else if (parseInt($("#codyType option:selected").val()) == 2 || parseInt($("#codyType option:selected").val()) == 3) {
						if ((top.trim().length == 0) || (top == null)) {
							alert('상의을 입력하세요.');
							$("#top").focus();
							return false;
						} else if ((topurl.trim().length == 0) || (topurl == null)) {
							alert('상의정보주소을 입력하세요.');
							$("#urltop").focus();
							return false;
						} else if ((bottom.trim().length == 0) || (bottom == null)) {
							alert('하의을 입력하세요.');
							$("#bottom").focus();
							return false;
						} else if ((bottomurl.trim().length == 0) || (bottomurl == null)) {
							alert('하의정보주소을 입력하세요.');
							$("#urlbottom").focus();
							return false;
						} else if ($.trim($("#result1").val()) == '' && $.trim($("#result2").val()) == '') {
						    alert('상의에 버튼을 놓을 위치를 클릭하세요.');
						    $("#result1").focus();
						    $("#result2").focus();
						    return false;
					    } else if ($.trim($("#result3").val()) == '' && $.trim($("#result4").val()) == '') {
						    alert('하의에 버튼을 놓을 위치를 클릭하세요.');
						    $("#result3").focus();
						    $("#result4").focus();
						    return false;
				     	}
				     }
				     else {
				     	return;
					 }
				});
			});
		</script>

	</head>
	<body>
		<div data-role="page" id="postPage">
			<div data-role="header" data-position="fixed" style="background-color:#C57087">
				<a href="#" data-icon="back" data-rel="back" data-direction="reverse" data-iconpos="notext" style="background-color:#C57087; border: 1px solid #C57087;">Back</a>
				<!--	<a href="/" rel="external" data-icon="check" data-iconpos="notext" data-rel="submit" id="submit" style="background-color:#C57087; border: 1px solid #C57087;">Submit</a>-->
				<h1 id="postname">글쓰기</h1>
			</div>
			<div data-role="content" id="post">
				<div class="ui-body ui-body-a gap">
					<!-- <form action="/imgupload" method="post" enctype="multipart/form-data" data-ajax="false"> -->

					<!-- <a>
					<div class="upload" style="width: 150px; height: 30px; background: #C57087; color: white; text-align: center; line-height: 30px;">이미지 업로드</div>
					</a> -->
					<!-- <input class="upload" type="submit" data-inline="true" style="background-color:#C57087; border: 1px solid #C57087;" value="이미지 업로드">
					</form> -->

					<form action="/post" method="post" id="postForm"  enctype="multipart/form-data" data-ajax="false">

						<select name="codyType" id="codyType" data-inline="true" data-mini="true" data-shadow="false">
							<option value=1 id="option1">고민되는 코디! 사람들에게 물어봐요.</option>
							<option value=2 id="option2">나만의 코디를 사람들과 공유해봐요.</option>
						</select>

						<div class="filebox">
							<p id="status"></p>
							<label for="i_file"><img src="image/camera.png"></label>
							<input type="file" name="img" id="i_file" my="myPicture" accept=".gif, .jpg, .png, .jpeg, .bmp"/>
						</div>
						<img src="" width="250" style="display:none;" id="showimg" name="image"/><!--로컬에 있는 이미지가 보여지는 영역-->
						<br>
						<div id="disp_tmp_path"></div>
						<div id="shortpath"></div>
						<div class="xy">
							<span>상의 x,y좌표</span>
							<input type="text" name="topx" id="result1" class="posttext" data-inline="true">
							</input>
							<input type="text" name="topy" id="result2" class="posttext" data-inline="true">
							</input>
						</div>
						<div class="xy">
							<span>하의 x,y좌표</span>
							<input type="text" name="bottomx" id="result3" class="posttext" data-inline="true">
							</input>
							<input type="text" name="bottomy" id="result4" class="posttext" data-inline="true">
							</input>
						</div>

						<input type="text" name="title" class="posttext" id="title" placeholder="글제목을 입력하세요.">
						<textarea name="textarea" id="postarea" class="posttext" placeholder="코디 고민, 데일리룩, 등 나의 스타일을 공유해보세요."></textarea>
						<div class="plus">
						<input type="text" name="top" id="top" class="posttext" placeholder="상의 브랜드 이름을 입력하세요.">
						<input type="url" name="urltop" id="urltop" class="posttext" placeholder="상의정보(url)을 입력하세요.">
						<input type="text" name="bottom" id="bottom" class="posttext" placeholder="하의 브랜드 이름을 입력하세요.">
						<input type="url" name="urlbottom" id="urlbottom" class="posttext" placeholder="하의정보(url)을 입력하세요.">
						</div>

						<input type="submit" id="submit" data-inline="true" style="background-color:#C57087; border: 1px solid #C57087;" value="Submit">
					</form>
				</div>
			</div>
			<div data-role="footer" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li>
							<a href="/" rel="external" data-icon="home" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="/search" rel="external"  data-icon="search" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="/post" rel="external" data-icon="edit" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="/like" rel="external" data-icon="heart" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="/myprofile" rel="external" data-icon="user" style="background-color:#C57087"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
