<!DOCTYPE html>
<html lang="kr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>코디플러스</title>
		<!--상단 브라우저이미지 넣음!!(이미지는 후에 바꿔도 됨!!)-->
		<link rel="shortcut icon" type="image/x-icon" href="https://mblogthumb-phinf.pstatic.net/20150913_165/koowq_1442154212671cvGl4_JPEG/%BF%CA%B0%C9%C0%CC_%BE%C6%C0%CC%C4%DC-01.png?type=w2" />

		<!--제이쿼리 모바일 & 제이쿼리 라이브러리 파일-->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

		<link rel="stylesheet" href="css/cody.css"/>
		<script>
			$(document).ready(function() {
				$('#i_file').change(function(event) {
					var tmppath = URL.createObjectURL(event.target.files[0]);
					$("img").fadeIn("fast").attr('src', URL.createObjectURL(event.target.files[0]));

					$("#disp_tmp_path").html(tmppath);
				});

				var count = 0;
				$('#showimg').click(function() {
					var x = event.offsetX;
					var y = event.offsetY;
					if (count % 2 == 0) {
						document.getElementById("result1").innerHTML = x;
						document.getElementById("result2").innerHTML = y;
						count += 1;
					} else if (count % 2 == 1) {
						var coords3 = x;
						var coords4 = y;
						document.getElementById("result3").innerHTML = coords3;
						document.getElementById("result4").innerHTML = coords4;
						count += 1;
					}
				});

				$('#submit').click(function(e) {
					var title = $("#title").val();
					var content = $("#postarea").val();
					var top = $('#top').val();
					var urltop = $("#urltop").val();
					var bottom = $('#bottom').val();
					var urlbottom = $("#urlbottom").val();
					var topx = $("#result1").html();
					var topy = $("#result2").html();
					var bottomx = $("#result3").html();
					var bottomy = $("#result4").html();

					if ($("#title").val() == '') {
						alert('제목을 입력하세요.');
						$("#title").focus();
						// 커서를 넘기는 즉, 포커스를 다음 요소로 넘김.
						return false;
					}

					else if ($("#postarea").val() == '') {
						alert('내용을 입력하세요.');
						$("#postarea").focus();
						return false;
					}

					else if ($("#codyType option:selected").val() == "데일리룩" || $("#codyType option:selected").val() == "코디공유") {
						if ($("#top").val() == '') {
							alert('상의을 입력하세요.');
							$("#top").focus();
							return false;
						}
						else if ($("#urltop").val() == '') {
							alert('상의정보주소을 입력하세요.');
							$("#urltop").focus();
							return false;
						}
						else if ($("#bottom").val() == '') {
							alert('하의을 입력하세요.');
							$("#bottom").focus();
							return false;
						}
						else if ($("#urlbottom").val() == '') {
							alert('하의정보주소을 입력하세요.');
							$("#urlbottom").focus();
							return false;
						}
						return false;
					}
					else if ($("#result1").html() == '' && $("#result2").html() == '') {
						alert('상의에 버튼을 놓을 위치를 클릭하세요.');
						$("#result1").focus();
						$("#result2").focus();
						return false;
					}
					else if ($("#result3").html() == '' && $("#result4").html() == '') {
						alert('하의에 버튼을 놓을 위치를 클릭하세요.');
						$("#result3").focus();
						$("#result4").focus();
						return false;
					}
					else {
						return;
					}
				});

			});
		</script>

	</head>
	<body>
		<div data-role="page" id="postPage">
			<div data-role="header" data-position="fixed" style="background-color:#C57087">
				<a href="#" data-icon="back" data-rel="back" data-direction="reverse" data-iconpos="notext" style="background-color:#C57087; border: 1px solid #C57087;">Back</a>

				<!--<a href="/" rel="external" data-icon="check" data-iconpos="notext" data-rel="submit" id="submit" style="background-color:#C57087; border: 1px solid #C57087;">Submit</a>-->

				<!--<a href="/main" rel="external" data-icon="check" data-iconpos="notext" data-rel="submit" id="submit" style="background-color:#C57087; border: 1px solid #C57087;">Submit</a>-->

				<h1 id="postname">글쓰기</h1>
			</div>
			<div data-role="content" id="post">
				<div class="ui-body ui-body-a gap">
					<form action="/post" method="post">

						<div class="filebox">
							<p id="status"></p>
							<label for="i_file"><img src="image/camera.png"></label>
							<input type="file" id="i_file" my="myPicture" multiple/>
						</div>

						<img src="" width="250" style="display:none;" id="showimg"/><!--로컬에 있는 이미지가 보여지는 영역-->

						<br>
						<div id="disp_tmp_path"></div>
						<div id="shortpath"></div>
						<div class="xy">
							<span>상의 x,y좌표: </span><span id="result1"></span>/<span id="result2"></span>
						</div>
						<div class="xy">
							<span>하의 x,y좌표: </span><span id="result3"></span>/<span id="result4"></span>
						</div>
						<select name="codyType" id="codyType" data-inline="true" data-mini="true" data-shadow="false">
							<option value="코디고민" id="option1">고민되는 코디! 사람들에게 물어보자요.</option>
							<option value="데일리룩" id="option2">오늘 입은 옷을 기록해봐요.</option>
							<option value="코디공유" id="option3">나만의 코디를 사람들과 공유해봐요.</option>
						</select>

						<input type="text" name="title" class="posttext" id="title" placeholder="글제목을 입력하세요.">
						<textarea name="textarea" id="postarea" class="posttext" placeholder="코디 고민, 데일리룩, 등 나의 스타일을 공유해보세요."></textarea>
						<input type="text" name="top" id="top" class="posttext" placeholder="상의 브랜드 이름을 입력하세요.">
						<input type="url" name="urltop" id="urltop" class="posttext" placeholder="상의정보(url)을 입력하세요.">
						<input type="text" name="bottom" id="bottom" class="posttext" placeholder="하의 브랜드 이름을 입력하세요.">
						<input type="url" name="urlbottom" id="urlbottom" class="posttext" placeholder="하의정보(url)을 입력하세요.">


						<a href="/" rel="external"><input type="submit" id="submit" data-inline="true" style="background-color:#C57087; border: 1px solid #C57087;" value="Submit"></a>

						<a href="/main" rel="external"><input type="submit" id="submit" data-inline="true" style="background-color:#C57087; border: 1px solid #C57087;" value="Submit"></a>

					</form>
				</div>
			</div>
			<div data-role="footer" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li>
							<a href="main.html" rel="external" data-icon="home" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="search.html" rel="external"  data-icon="search" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="post.html" rel="external" data-icon="edit" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="like.html" rel="external" data-icon="heart" style="background-color:#C57087"></a>
						</li>
						<li>
							<a href="myprofile.html" rel="external" data-icon="user" style="background-color:#C57087"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
